apiVersion: v1
kind: Service
metadata:
  name: {{ include "service-2.fullname" . }}
  labels:
{{- include "service-2.labels" . | nindent 4 }}
{{- if or .Values.commonAnnotations .Values.service.annotations }}
  annotations:
{{- with .Values.commonAnnotations }}
{{- toYaml . | nindent 4 }}
{{- end }}
{{- with .Values.service.annotations }}
{{- toYaml . | nindent 4 }}
{{- end }}
{{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
{{- include "service-2.selectorLabels" . | nindent 4 }}
